body {
    background: linear-gradient(#107e57,#014760, #ffffff);
}

header {
    text-align: end;
}

ul li {
    list-style: none;
    font-weight: bold;
    font-size: 32px;
    margin: 10px;
    display: inline;
    font-family: 'Antic Slab', serif;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: .25rem;
}

ul li:hover {
    color:#000000;
    box-shadow: 0px 0px 2px 2px #000000;
    padding: .5rem;
}

a {
    text-decoration: none;
}

.headingimage {
   
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: solid 5px #000000;
    box-shadow: 0px 0px 12px 12px #000000;
    animation-name: movingPhoto;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes movingPhoto {
    0% {
        border: solid 5px #000000;
        box-shadow: 0px 0px 12px 12px #000000;
    }
    20% {
        border: solid 5px #014760;
        box-shadow: 0px 0px 12px 12px #014760;
    }
    40% {
        border: solid 5px #107e57;
        box-shadow: 0px 0px 12px 12px #107e57;
    }
    60% {
        border: solid 5px #a1ce3f;
        box-shadow: 0px 0px 12px 12px #a1ce3f;
    }
    80% {
        border: solid 5px #b4b1b8;
        box-shadow: 0px 0px 12px 12px #b4b1b8;
    }
    100% {
        border: solid 5px #ffffff;
        box-shadow: 0px 0px 12px 12px #ffffff;
    }
}


.heading {
    text-align: center;
    margin: 1rem;
    padding: 2rem 2rem;
    
}



.sidetoside {
    display: inline-block;
    vertical-align: middle;
    padding: 2rem;
    
}

.about {
    display:flex;
    align-items: center;
    text-align: center;  
}

.secondphoto {
    width: 60%;
    border: solid 5px #ffffff;
    border-radius: 12px;
}

.bio {
    border: .5rem solid #ffffff;
    border-radius: 12px;
    padding: 12px;
}

.aboutme {
    width: 50%;
    padding: 2rem;
    margin: 3rem 1rem 1rem 2rem;
}

.shortbio {
    font-size: 1.25rem;
}

h1 {
    color: #ffffff;
    font-family: 'Antic Slab', serif;
    font-size: 48px;
    

}

h2 {
    font-family: 'Antic Slab', serif;
    font-size: 32px;
    color:#ffffff;
    
    
}

h3 {
    font-family: 'Antic Slab', serif;
    color: #ffffff;
}

p {
    font-family: 'Antic Slab', serif;
    color: #ffffff;
    font-size: 24px;
    line-height: 2rem;
}

.coreTechnologies {
    text-align: center;
    
}

.corebackground {
    background-color: #a1ce3f;
    letter-spacing: 1rem;
    position: relative;
    top: 27px;
    border-radius: 12px;
    color: #000000;
    padding: .75rem;
    border: 2px solid #000000;
    
    
}

.greenbackground {
    background-color: #b4b1b8;
    font-size: 22px;
    letter-spacing: .75rem;
    position: relative;
    top: 0;
    border-radius: 12px;
    color: #000000;
    padding: .25rem;
    border: 2px solid #000000;
    

}

.icon {
    height: 150px;
    width: 150px;
    margin: 2rem;
}

.projects {
    text-align: center;
}

.checkback {
    background-color: #b4b1b8;
    top: 0;
    position: relative;
    letter-spacing: .25rem;
    border-radius: 12px;
    color: #000000;
    padding: .25rem;
    border: 2px solid #000000;
}

.projectbackground {
    background-color: #a1ce3f;
    letter-spacing: 1rem;
    top: 27px;
    position: relative;
    border-radius: 12px;
    color: #000000;
    padding: .75rem;
    border: 2px solid #000000;
}

.projectThumbnails {
    height: 200px;
    width: 400px;
    border: solid 2px #ffffff;
    border-radius: 12px;
    margin: 2rem;
    transition: .4s ease;
    
}

.projectThumbnails:hover {
    box-shadow: 0px 0px 10px 10px #ffffff;
    height: 202px;
    width: 402px;
}

.foot {
    text-align: center;
}

.contact {
    color: #000000;
    letter-spacing: .75rem;
}
#logos {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 75px;
    justify-content: center;
}

.linkedinlogo {
    width: 90x;
    height: 64px;
}
.footp {
    color: #000000;
}

#backToTop {
    position:fixed;
    bottom: 2rem;
    right: 2rem;
    border-left: double 10px #000000;
    border-top: double 10px #000000;
    width: 80px;
    height: 80px;
    transition: .4s ease;
    transform: rotate(45deg);
}

#backToTop:hover {
    bottom: 3rem;
    
    
}

.scrollUp--hidden {
    display:none;
}

@media only screen and (max-width: 960px) {
    .navigation {
      text-align: center;
      font-size: 10px;
      padding: 0;
    }

    .secondphoto {
        width: 100%;
    }
  }

  @media only screen and (max-width: 955px) {
    .navigation {
      font-size: 8px;
      letter-spacing: 0px;
    }
}

    @media only screen and (max-width: 586px) {
        .navigation {
          font-size: 5px;
        }

        #app {
            font-size: 25px;
        }

        .about {
            display:inline-block;
            text-align: center;
            vertical-align: center;
            
        }

        .secondphoto {
            width: 100%;
            position: relative;
            top: 10px;
            left: 70px;
            
        }

        .bio {
            position: relative;
            bottom: 10px;
            width: 50%;
            left: 70px;
        }

  }

  @media only screen and (max-width: 530px) {
    .main {
        width:fit-content;
    }

    .navigation {
        display: none;
    }

    #profilePhoto {
        width: 250px;
        height: 250px;
    }

    .iam {
        font-size: 1.5rem;
    }

    .coreTechnologies {
      
      position: relative;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: auto;
      left: 1.5px;
      
    }

    .coreletters {
        letter-spacing: 5px;
        
    }

    .projects {
      position: relative;
      text-align: center;
      margin: auto;
      left: 1.5px;
    }

    #backtotop {
        display: none;
    }
}

@media only screen and(max-width:390px){
    .main {
        width:fit-content;
    }
}